.Timeline-content {
/*  border-top: 5px solid #337ab7;*/
  padding: 10px;
}

.Timeline-content > h3 {
  padding-bottom: 15px;
  border-bottom: 3px solid #337ab7;
}

.Timeline-content > h3 > span{
  color: #337ab7; 
}

.timeline-messages {
  margin-top: 30px;
}

.timeline-body > p {
  text-align: left;
  margin-bottom: 10px;
}

.timeline-message {
  padding: 10px;
/*  box-shadow: 10px 10px 20px grey;*/
}

.timeline-message:hover {
  box-shadow: 10px 10px 30px grey;
}

.timeline-body .date {
  font-size: 12px;
  display: inline-block;
  float: right;
  padding: 3px;
  color: black;
  font-weight: bold;
  margin-right: 10px;
}

.response-messages-button {
  margin-right: 10px;
}
