/*.AsideContacts {
  border: 2px solid #eaeaea;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}*/

.Aside-contacts-list {
  text-align: left;
  white-space: nowrap;
  overflow: auto;
  height: 400px;
  padding: 10px;
}

.AsideContacts > h3{
  padding-bottom: 15px;
  border-bottom: 3px solid #337ab7
/*  padding-right: 15px;*/
}

.AsideContacts > h3 > span {
  color: #337ab7;
}

.Aside-friends-list {
  list-style: none;
}

.friend-image {
  width: 40px;
  height: 40px;
}

.friend-image:hover {
  background-color: blue;
}
