/*.AsideUsers {
  border: 2px solid #eaeaea;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}*/
.Aside {
  margin-top: 10px;
}

.Aside-jobs-list {
  text-align: left;
  white-space: nowrap;
  overflow: auto;
  max-height: 380px;
  padding: 10px;
}

.AsideJobs > h3 {
  padding-bottom: 15px;
  border-bottom: 3px solid #337ab7
/*  padding-left: 15px;*/
}

.AsideJobs > h3 > span {
  color: #337ab7;
}