@media(max-width: 480px) {
  .Aside {
    display: none;
  }
}

.AsideFriends > h3{
  padding-bottom: 15px;
  border-bottom: 3px solid #337ab7
}

.AsideFriends > h3 > span {
  color: #337ab7;
}

.Aside-friends-list {
  list-style: none;
  cursor: pointer;
}

.friend-image {
  width: 40px;
  height: 40px;
}

.friend-image:hover {
  background-color: blue;
}

.Aside-friends-list {
  text-align: left;
  white-space: nowrap;
  overflow: auto;
  min-height: 200px;
  max-height: 380px;
  padding: 10px;
}

.AsideFriends > h3{
  padding-bottom: 15px;
  border-bottom: 3px solid #337ab7
}

.AsideFriends > p {
  text-align: left;
}

.AsideFriends > h3 > span {
  color: #337ab7;
}

.Aside-friends-list {
  list-style: none;
  cursor: pointer;
}

.friend-image {
  width: 40px;
  height: 40px;
}

.friend-image:hover {
  background-color: blue;
}
